* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  background: #0f172a;
  font-family: Arial, sans-serif;
}

/* REMOVE O LAYOUT PADRÃO DO VITE */
#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}